-- Initial Schema for HR Hub Plus
-- Migration Date: 20240101000000

-- Create enum types if needed (optional)
CREATE TYPE user_role AS ENUM ('superadmin', 'tenant');

-- 1. Tenants
CREATE TABLE IF NOT EXISTS public.tenants (
    id TEXT PRIMARY KEY,
    name TEXT NOT NULL,
    cnpj TEXT,
    subscription JSONB,
    employee_count INTEGER DEFAULT 0,
    created_at TIMESTAMPTZ DEFAULT now()
);

-- 2. Profiles Ext
CREATE TABLE IF NOT EXISTS public.profiles (
    id UUID PRIMARY KEY, -- links to auth.users if needed
    email TEXT UNIQUE NOT NULL,
    role user_role DEFAULT 'tenant',
    tenant_id TEXT REFERENCES public.tenants(id) ON DELETE CASCADE,
    name TEXT NOT NULL,
    created_at TIMESTAMPTZ DEFAULT now()
);

-- 3. Stores
CREATE TABLE IF NOT EXISTS public.stores (
    id TEXT PRIMARY KEY,
    name TEXT NOT NULL,
    cnpj TEXT,
    tenant_id TEXT REFERENCES public.tenants(id) ON DELETE CASCADE,
    created_at TIMESTAMPTZ DEFAULT now()
);

-- 4. Employees
CREATE TABLE IF NOT EXISTS public.employees (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    tenant_id TEXT REFERENCES public.tenants(id) ON DELETE CASCADE,
    store_id TEXT REFERENCES public.stores(id) ON DELETE SET NULL,
    name TEXT NOT NULL,
    cpf TEXT UNIQUE NOT NULL,
    gender TEXT,
    birth_date DATE,
    admission_date DATE,
    department TEXT,
    role TEXT,
    status TEXT DEFAULT 'ACTIVE',
    salary NUMERIC DEFAULT 0,
    cbo TEXT,
    conta_itau TEXT,
    insalubridade NUMERIC DEFAULT 0,
    periculosidade NUMERIC DEFAULT 0,
    gratificacao NUMERIC DEFAULT 0,
    vale_transporte NUMERIC DEFAULT 0,
    vale_refeicao NUMERIC DEFAULT 0,
    flexivel NUMERIC DEFAULT 0,
    mobilidade NUMERIC DEFAULT 0,
    vale_flexivel NUMERIC DEFAULT 0,
    photo_reference_url TEXT,
    custom_fields JSONB DEFAULT '{}',
    created_at TIMESTAMPTZ DEFAULT now()
);

-- 5. Service Providers
CREATE TABLE IF NOT EXISTS public.service_providers (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    tenant_id TEXT REFERENCES public.tenants(id) ON DELETE CASCADE,
    name TEXT NOT NULL,
    cnpj TEXT,
    email TEXT,
    phone TEXT,
    start_date DATE,
    end_date DATE,
    contract_value NUMERIC DEFAULT 0,
    duties TEXT,
    observations TEXT,
    additional_costs JSONB DEFAULT '[]',
    contract_url TEXT,
    contract_file_name TEXT,
    created_at TIMESTAMPTZ DEFAULT now()
);

-- 6. Benefits
CREATE TABLE IF NOT EXISTS public.benefits (
    id TEXT PRIMARY KEY,
    tenant_id TEXT REFERENCES public.tenants(id) ON DELETE CASCADE,
    name TEXT NOT NULL,
    type TEXT,
    default_value NUMERIC,
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMPTZ DEFAULT now()
);

-- 7. Employee Benefits
CREATE TABLE IF NOT EXISTS public.employee_benefits (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    employee_id UUID REFERENCES public.employees(id) ON DELETE CASCADE,
    benefit_id TEXT REFERENCES public.benefits(id) ON DELETE CASCADE,
    override_value NUMERIC,
    created_at TIMESTAMPTZ DEFAULT now()
);

-- 8. Certificates
CREATE TABLE IF NOT EXISTS public.certificates (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    employee_id UUID REFERENCES public.employees(id) ON DELETE CASCADE,
    employee_name TEXT,
    date DATE,
    cid TEXT,
    days INTEGER DEFAULT 0,
    file_url TEXT,
    file_name TEXT,
    created_at TIMESTAMPTZ DEFAULT now()
);

-- 9. Rescissions
CREATE TABLE IF NOT EXISTS public.rescissions (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    employee_id UUID REFERENCES public.employees(id) ON DELETE CASCADE,
    employee_name TEXT,
    termination_date DATE,
    fgts_value NUMERIC DEFAULT 0,
    rescission_value NUMERIC DEFAULT 0,
    type TEXT,
    created_at TIMESTAMPTZ DEFAULT now()
);

-- 10. Audit Logs
CREATE TABLE IF NOT EXISTS public.audit_logs (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID,
    user_name TEXT,
    action TEXT,
    details TEXT,
    timestamp TIMESTAMPTZ DEFAULT now(),
    tenant_id TEXT REFERENCES public.tenants(id) ON DELETE CASCADE
);

-- 11. Payroll Entries
CREATE TABLE IF NOT EXISTS public.payroll_entries (
    employee_id UUID REFERENCES public.employees(id) ON DELETE CASCADE,
    employee_name TEXT,
    store_name TEXT,
    salary NUMERIC,
    absences NUMERIC,
    certificate_days INTEGER,
    deductions NUMERIC,
    net_salary NUMERIC,
    created_at TIMESTAMPTZ DEFAULT now()
);

-- RLS
ALTER TABLE public.tenants ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Allow all authenticated tenants" ON public.tenants FOR ALL USING (true);

ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Allow all authenticated profiles" ON public.profiles FOR ALL USING (true);

ALTER TABLE public.stores ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Allow all authenticated stores" ON public.stores FOR ALL USING (true);

ALTER TABLE public.employees ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Allow all authenticated employees" ON public.employees FOR ALL USING (true);

ALTER TABLE public.service_providers ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Allow all authenticated sp" ON public.service_providers FOR ALL USING (true);

ALTER TABLE public.benefits ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Allow all authenticated benefits" ON public.benefits FOR ALL USING (true);

ALTER TABLE public.employee_benefits ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Allow all authenticated ep" ON public.employee_benefits FOR ALL USING (true);

ALTER TABLE public.certificates ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Allow all authenticated certs" ON public.certificates FOR ALL USING (true);

ALTER TABLE public.rescissions ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Allow all authenticated rescissions" ON public.rescissions FOR ALL USING (true);

ALTER TABLE public.audit_logs ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Allow all authenticated logs" ON public.audit_logs FOR ALL USING (true);

ALTER TABLE public.payroll_entries ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Allow all authenticated payroll" ON public.payroll_entries FOR ALL USING (true);

-- Also create the storage buckest
INSERT INTO storage.buckets (id, name, public) VALUES ('employee-photos', 'employee-photos', true) ON CONFLICT DO NOTHING;
INSERT INTO storage.buckets (id, name, public) VALUES ('certificates', 'certificates', true) ON CONFLICT DO NOTHING;
INSERT INTO storage.buckets (id, name, public) VALUES ('provider-contracts', 'provider-contracts', true) ON CONFLICT DO NOTHING;

CREATE POLICY "Give public access to photos" ON storage.objects FOR ALL USING (bucket_id = 'employee-photos');
CREATE POLICY "Give public access to certs" ON storage.objects FOR ALL USING (bucket_id = 'certificates');
CREATE POLICY "Give public access to contracts" ON storage.objects FOR ALL USING (bucket_id = 'provider-contracts');
-- Rename users table to profiles
ALTER TABLE public.users RENAME TO profiles;
-- Add missing tenant_id to certificates
ALTER TABLE public.certificates ADD COLUMN IF NOT EXISTS tenant_id TEXT REFERENCES public.tenants(id) ON DELETE CASCADE;

-- Add missing tenant_id to rescissions
ALTER TABLE public.rescissions ADD COLUMN IF NOT EXISTS tenant_id TEXT REFERENCES public.tenants(id) ON DELETE CASCADE;

-- Rename payroll_entries to payslips (as referenced in 20240321_biometrics_and_rls)
ALTER TABLE public.payroll_entries RENAME TO payslips;

-- Add tenant_id to payslips
ALTER TABLE public.payslips ADD COLUMN IF NOT EXISTS tenant_id TEXT REFERENCES public.tenants(id) ON DELETE CASCADE;
-- Create time_entries table early so RLS policies in 20240321 can apply to it
CREATE TABLE IF NOT EXISTS public.time_entries (
  id             UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  employee_id    TEXT,
  employee_name  TEXT,
  type           TEXT NOT NULL, -- ENTRY, EXIT, INTERVAL_START, INTERVAL_END
  latitude       DOUBLE PRECISION,
  longitude      DOUBLE PRECISION,
  photo_url      TEXT,
  validated      BOOLEAN DEFAULT true,
  tenant_id      TEXT,
  adjusted       BOOLEAN DEFAULT false,
  adjusted_by    TEXT,
  adjustment_reason TEXT,
  created_at     TIMESTAMPTZ DEFAULT now()
);

-- Index for quick lookups
CREATE INDEX IF NOT EXISTS idx_time_entries_employee ON public.time_entries(employee_id);
CREATE INDEX IF NOT EXISTS idx_time_entries_tenant   ON public.time_entries(tenant_id);
CREATE INDEX IF NOT EXISTS idx_time_entries_created  ON public.time_entries(created_at);

-- RLS
ALTER TABLE public.time_entries ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Allow all authenticated" ON public.time_entries FOR ALL USING (true);
-- 1. Add photo_reference_url to employees for Biometrics
ALTER TABLE public.employees ADD COLUMN IF NOT EXISTS photo_reference_url TEXT;

-- 2. Secure RLS Policies for Multi-tenancy
-- Note: Using a helper function to identify if user is Cristiano or SuperAdmin
-- In a real scenario, we'd use JWT claims, but here we'll use a simple check

-- Employees
DROP POLICY IF EXISTS "Allow all for now" ON public.employees;
CREATE POLICY "SuperAdmin full access" ON public.employees FOR ALL USING (
  auth.jwt() ->> 'email' IN ('cristiano', 'teste') OR (SELECT role FROM profiles WHERE id = auth.uid()) = 'superadmin'
);
CREATE POLICY "Tenant isolation" ON public.employees FOR ALL USING (
  tenant_id = (SELECT tenant_id FROM profiles WHERE id = auth.uid())
);

-- Certificates
DROP POLICY IF EXISTS "Allow all for now" ON public.certificates;
CREATE POLICY "SuperAdmin access" ON public.certificates FOR ALL USING (
  auth.jwt() ->> 'email' IN ('cristiano', 'teste') OR (SELECT role FROM profiles WHERE id = auth.uid()) = 'superadmin'
);
CREATE POLICY "Tenant isolation" ON public.certificates FOR ALL USING (
  tenant_id = (SELECT tenant_id FROM profiles WHERE id = auth.uid())
);

-- Time Entries
DROP POLICY IF EXISTS "Allow all for now" ON public.time_entries;
CREATE POLICY "SuperAdmin access" ON public.time_entries FOR ALL USING (
  auth.jwt() ->> 'email' IN ('cristiano', 'teste') OR (SELECT role FROM profiles WHERE id = auth.uid()) = 'superadmin'
);
CREATE POLICY "Tenant isolation" ON public.time_entries FOR ALL USING (
  tenant_id = (SELECT tenant_id FROM profiles WHERE id = auth.uid())
);

-- Payslips
DROP POLICY IF EXISTS "Allow all for now" ON public.payslips;
CREATE POLICY "SuperAdmin access" ON public.payslips FOR ALL USING (
  auth.jwt() ->> 'email' IN ('cristiano', 'teste') OR (SELECT role FROM profiles WHERE id = auth.uid()) = 'superadmin'
);
CREATE POLICY "Tenant isolation" ON public.payslips FOR ALL USING (
  tenant_id = (SELECT tenant_id FROM profiles WHERE id = auth.uid())
);

-- Rescissions
DROP POLICY IF EXISTS "Allow all for now" ON public.rescissions;
CREATE POLICY "SuperAdmin access" ON public.rescissions FOR ALL USING (
  auth.jwt() ->> 'email' IN ('cristiano', 'teste') OR (SELECT role FROM profiles WHERE id = auth.uid()) = 'superadmin'
);
CREATE POLICY "Tenant isolation" ON public.rescissions FOR ALL USING (
  tenant_id = (SELECT tenant_id FROM profiles WHERE id = auth.uid())
);
-- Create tenant_email_settings table
CREATE TABLE IF NOT EXISTS public.tenant_email_settings (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    tenant_id TEXT NOT NULL REFERENCES public.tenants(id) ON DELETE CASCADE,
    smtp_host TEXT NOT NULL,
    smtp_port INTEGER NOT NULL DEFAULT 587,
    smtp_user TEXT NOT NULL,
    smtp_pass TEXT NOT NULL,
    from_name TEXT NOT NULL,
    from_email TEXT NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    UNIQUE(tenant_id)
);

-- Enable RLS
ALTER TABLE public.tenant_email_settings ENABLE ROW LEVEL SECURITY;

-- Simple policies (for MVP, admin only or scoped by tenant)
DROP POLICY IF EXISTS "Allow superadmins to manage all email settings" ON public.tenant_email_settings;
CREATE POLICY "Allow superadmins to manage all email settings" 
ON public.tenant_email_settings FOR ALL 
USING (EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role = 'superadmin'));

-- Trigger for updated_at
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = now();
    RETURN NEW;
END;
$$ language 'plpgsql';

DROP TRIGGER IF EXISTS update_tenant_email_settings_updated_at ON public.tenant_email_settings;
CREATE TRIGGER update_tenant_email_settings_updated_at
    BEFORE UPDATE ON public.tenant_email_settings
    FOR EACH ROW
    EXECUTE FUNCTION update_updated_at_column();
-- Migration: Add work schedule and enhanced ponto digital fields
-- Date: 2026-03-22

-- Add jornada (work schedule) columns to employees
ALTER TABLE employees
  ADD COLUMN IF NOT EXISTS jornada_entrada       TEXT DEFAULT '08:00',
  ADD COLUMN IF NOT EXISTS jornada_saida_almoco  TEXT DEFAULT '12:00',
  ADD COLUMN IF NOT EXISTS jornada_retorno_almoco TEXT DEFAULT '13:00',
  ADD COLUMN IF NOT EXISTS jornada_saida         TEXT DEFAULT '17:00',
  ADD COLUMN IF NOT EXISTS photo_references      JSONB DEFAULT '[]',
  ADD COLUMN IF NOT EXISTS geofence_radius       INTEGER DEFAULT 0,
  ADD COLUMN IF NOT EXISTS geofence_lat          DOUBLE PRECISION,
  ADD COLUMN IF NOT EXISTS geofence_lng          DOUBLE PRECISION;

create table public.test_connection_table (
  id uuid default gen_random_uuid() primary key,
  created_at timestamp with time zone default timezone('utc'::text, now()) not null,
  message text not null
);
-- Fix RLS policies to allow delete operations
-- The app uses anon key without Supabase Auth, so we need permissive policies

-- Drop all restrictive policies that reference auth.jwt() or auth.uid()
-- These fail silently because the app doesn't use Supabase Auth

-- Employees
DROP POLICY IF EXISTS "SuperAdmin full access" ON public.employees;
DROP POLICY IF EXISTS "Tenant isolation" ON public.employees;
DROP POLICY IF EXISTS "Allow all authenticated employees" ON public.employees;
DROP POLICY IF EXISTS "Allow all for now" ON public.employees;
CREATE POLICY "Allow all operations" ON public.employees FOR ALL USING (true) WITH CHECK (true);

-- Certificates
DROP POLICY IF EXISTS "SuperAdmin access" ON public.certificates;
DROP POLICY IF EXISTS "Tenant isolation" ON public.certificates;
DROP POLICY IF EXISTS "Allow all authenticated certs" ON public.certificates;
DROP POLICY IF EXISTS "Allow all for now" ON public.certificates;
CREATE POLICY "Allow all operations" ON public.certificates FOR ALL USING (true) WITH CHECK (true);

-- Rescissions
DROP POLICY IF EXISTS "SuperAdmin access" ON public.rescissions;
DROP POLICY IF EXISTS "Tenant isolation" ON public.rescissions;
DROP POLICY IF EXISTS "Allow all authenticated rescissions" ON public.rescissions;
DROP POLICY IF EXISTS "Allow all for now" ON public.rescissions;
CREATE POLICY "Allow all operations" ON public.rescissions FOR ALL USING (true) WITH CHECK (true);

-- Time Entries
DROP POLICY IF EXISTS "SuperAdmin access" ON public.time_entries;
DROP POLICY IF EXISTS "Tenant isolation" ON public.time_entries;
DROP POLICY IF EXISTS "Allow all for now" ON public.time_entries;
CREATE POLICY "Allow all operations" ON public.time_entries FOR ALL USING (true) WITH CHECK (true);

-- Payslips
DROP POLICY IF EXISTS "SuperAdmin access" ON public.payslips;
DROP POLICY IF EXISTS "Tenant isolation" ON public.payslips;
DROP POLICY IF EXISTS "Allow all for now" ON public.payslips;
DROP POLICY IF EXISTS "Allow all authenticated payroll" ON public.payslips;
CREATE POLICY "Allow all operations" ON public.payslips FOR ALL USING (true) WITH CHECK (true);
-- Expand profiles table to include password, permissions, and granular controls
-- This allows synchronization of user management with the database

ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS password TEXT DEFAULT '123';
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS permissions JSONB;
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS must_change_password BOOLEAN DEFAULT true;
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS app_permissions JSONB DEFAULT '{"ponto": true}';
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS can_edit_employees BOOLEAN DEFAULT false;
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS can_delete_employees BOOLEAN DEFAULT false;

-- Ensure Cristiano has all permissions
-- Note: 'cristiano' is the login/email used in the app, but IDs are UUIDs. 
-- We'll try to find by email if it exists, or the user can run this after creating the user.
UPDATE public.profiles 
SET 
  role = 'superadmin',
  can_edit_employees = true,
  can_delete_employees = true,
  must_change_password = false
WHERE email = 'cristiano';

-- Also ensure 'teste' exists for initial tests if needed
-- INSERT INTO public.profiles (id, email, name, role, tenant_id) 
-- VALUES (gen_random_uuid(), 'teste', 'Usu├írio Teste', 'tenant', 't1')
-- ON CONFLICT (email) DO NOTHING;
-- Adiciona coluna de e-mail na tabela de funcion├írios
ALTER TABLE public.employees 
ADD COLUMN IF NOT EXISTS email text;

-- Coment├írio para documenta├º├úo
COMMENT ON COLUMN public.employees.email IS 'E-mail para contato e notifica├º├Áes do funcion├írio';
-- Add custom_fields column to employees table
ALTER TABLE employees ADD COLUMN IF NOT EXISTS custom_fields JSONB DEFAULT '{}';
